
<body>

<!-- WRAPPER ALL -->
<div class="porta_tm_wrapper_all">
<!-- CONTENT -->
	<div class="porta_tm_content">
		<div class="container">
			<div class="porta_tm_home_title_wrap index">			
				<div class="inner">
					<h3>
						<div class="logo">
							<center><a class="dark_logo" href="index.html"><%= image_tag("logo.png") %></a></center>
						</div>
	            		<span class="animate" style="color: white !important;">
							<span class="text-align:center;" style="color: white !important;">Where Do You Want To Install Cameras ?</span>
						</span>
					</h3>
				</div>
			</div>
		</div>
		
		
<div class="porta_tm_section">
			<div class="container">
				<div class="porta_tm_news_wrap">
					<ul>
						<li class="wow slideInUp" data-wow-duration="0.2s" style="visibility: visible; animation-duration: 0.2s; animation-name: slideInUp;">
							<div class="inner">
								
								<div class="definitions_wrap">
									<br>
									<div class="title">
										<h3>HOME</h3>
									</div>
									
									<div class="image_wrap">
									<center><a class="dark_logo" href="index.html"><%= image_tag("house.png") %></a></center>
									<div class="image"></div>
								</div>
									<div class="read_more">
										<%= link_to "MORE", new_customer_path %>
									</div>
								</div>
							</div>
						</li>
						<li class="wow slideInUp" data-wow-duration="0.4s" style="visibility: visible; animation-duration: 0.4s; animation-name: slideInUp;">
								<div class="inner">
								
								<div class="definitions_wrap">
									
									<div class="title">
									<br>
										<h3>OFFICE</h3>
									</div>
									
									<div class="image_wrap">
									<center><a class="dark_logo" href="index.html"><%= image_tag("3d-building.png") %></a></center>
									<div class="image"></div>
								</div>
									<div class="read_more">
										<%= link_to "MORE.",new_customer_path %>
									</div>
								</div>
							</div>
						</li>
						<li class="wow slideInUp" data-wow-duration="0.6s" style="visibility: visible; animation-duration: 0.6s; animation-name: slideInUp;">
					<div class="inner">
								
								<div class="definitions_wrap">
									
									<div class="title">
									<br>
										<h3>OTHER</h3>
									</div>
									
									<div class="image_wrap">
									<center><a class="dark_logo" href="index.html"><%= image_tag("icon.png") %></a></center>
									<div class="image"></div>
								</div>
									<div class="read_more">
										<%= link_to "MORE.",new_customer_path %>
									</div>
								</div>
							</div>
						</li>
					</ul>
				</div>
				
			</div>
		</div>

		<div class="porta_tm_section	">
			<div class="container">
				<div class="porta_tm_footer_wrap">
					<div class="sharebox">
						<label class="wow fadeIn" data-wow-duration="1.2s">Follow Us</label>
						<div class="share_wrap wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.4s">
							<ul>
								<li><a href="#"><i class="fa fa-facebook" style="font-size: 20px;"></i></a></li>
								<li><a href="#"><i class="fa fa-twitter" style="font-size: 20px;"></i></a></li>
								<li><a href="#"><i class="fa fa-google-plus" style="font-size: 20px;"></i></a></li>
								<li><a href="#"><i class="fa fa-instagram" style="font-size: 20px;"></i></a></li>
							</ul>
						</div>
					</div>
					<div class="copyright">
						<label class="wow fadeIn" data-wow-duration="1.2s">Copyright</label>
						<p class="wow fadeIn" data-wow-duration="1.2s" data-wow-delay="0.4s">&copy; 2018. All rights are reserved.</p>
					</div>
				</div>
			</div>
		</div>	
	</div>
	<!-- /CONTENT -->
	
</div>

</body>
