
<style>
   .form-group input{
    border-radius: 4%;
    border: 1px solid black;
    color: black;
 }
 .form-group label{
    color: white;
 }
 .modelSubmit{
   margin-left: 40%;
 }
 
</style>
  <div class="form-group col-md-6">
    <label>NAME</label>
    <%= f.text_field :name, label: false, onkeyup: "forUpperCase()", class: "form-control", :placeholder => "Name", id: "customer-name" %>
    
  </div>
  <div class="form-group col-md-6">
    <label>CONTACT</label>
    <%= f.number_field :contact, label: false, class: "form-control", title:"valid contact number", :placeholder => "Contact", id: "customer-contact" %>
    
  </div>

  <div class="form-group">
    <label>EMAIL</label>
    <%= f.text_field :email, label: false, class: "form-control", title:"eamil@example.com", :placeholder => "Email", id: "customer-email" %>
    
  </div>
  <div class="form-group">
    <label>ADDRESS</label>
    <%= f.text_field :address, label: false, class: "form-control customer-form", :placeholder => "address", id: "customer-address" %>
    
  </div>


  <%= f.submit "REQUEST", class: "btn btn-dark modelSubmit", :onclick => "selectArray()" %>
 
